/* slick-carousel slider */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* to remove default browser focus-visible */
body * {
  &:focus-visible,
  &:focus {
    outline: none;
  }
}
main, .mui-18gar5h{
  background-color: #510706;
}
.MuiContainer-root{
  background-color: #510706;
  color: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#goddess-image{
  position: absolute;
  max-height: 400px;
  right: -9%;
  top: 25%;
}

#goddess-image-2{
  position: absolute;
  max-height: 400px;
  left: -11%;
  top: 25%;
}
/* scrollbar */
@import '../styles/scrollbar.css';
